div.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


span.badge-dark a {
	color: #fff;
}

main {
	padding: 15px;
}

aside {
	padding: 15px;
}

footer {
	background-color: #1B4A6C;
	color: #fff;
	padding: 5px 0px 60px;
    margin: 5px auto;
    font-size: 0.8rem;
}

footer div.container {
	padding: 0px 0px;
}

a {
	color: #ea7340;
}

button.btn.btn-danger a {
	color: #FFF;
}


#slideshows {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
}



#toolbar-menu {
	z-index: 50;
}

#block-tang-main-menu, #block-mainnavigation {
	z-index: 0;
}

#block-mainnavigation, #block-tang-main-menu {
	background-color: #1B4A6C;
	padding: 0px 10px;
	box-shadow: 0px 1px 3px #3C3C3C;
}

#block-mainnavigation button, #block-tang-main-menu button {
	box-shadow: 0px 0px 3px #272727;
}

#block-mainnavigation a, #block-tang-main-menu a{
	color: #fff;
}

#nav-botton-menu{
	padding: 0;
}

#nav-botton-menu ul li{
	padding:  6px 20px 10px 20px;
}

#nav-botton-menu img{
	width: 26px;
	height: 26px;
}

.nav-botton-text {
	font-size: 10px;
	color: #000;
	text-align: center;
}


ul.navbar-nav li.nav-item a {
  display: block;
  padding: 0.5rem 1rem;
}

ul.navbar-nav li.nav-item a:hover, ul.navbar-nav li.nav-item a:focus {
  text-decoration: none;
}

ul.navbar-nav li.nav-item a.disabled {
  color: #6c757d;
}

li.media img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.font_size {
	font-size: 12px;
	color: #6C6C6C;
}

div.media-body h3 {
	font-size: 1.25rem;
}

div.media-body p {
	font-size: 0.8rem;
	color: #8a8a8a;
}

@media (max-width: 500px) {
	.font_size {
	font-size: 0.8rem;
	}
}