footer {
	padding-bottom: 90px;
    margin: 0;
    border: 0;
}

div.layout-container {
	margin-bottom: 90px;
}

span.badge-dark a {
	color: #fff;
}

#toolbar-menu {
	z-index: 50;
}

#block-tang-main-menu, #block-mainnavigation {
	z-index: 0;
}

#block-mainnavigation, #block-tang-main-menu {
	background-color: #1B4A6C;
	padding: 0px 10px;
	box-shadow: 0px 1px 3px #3C3C3C;
}

#block-mainnavigation button, #block-tang-main-menu button {
	box-shadow: 0px 0px 3px #272727;
}

#block-mainnavigation a, #block-tang-main-menu a{
	color: #fff;
}

#nav-botton-menu{
	padding: 0;
}

#nav-botton-menu ul li{
	padding:  6px 25px 10px 25px;
}

#nav-botton-menu img{
	width: 32px;
	height: 32px;
}

.nav-botton-text {
	font-size: 15px;
	color: #000;
	text-align: center;
}


ul.navbar-nav li.nav-item a {
  display: block;
  padding: 0.5rem 1rem;
}

ul.navbar-nav li.nav-item a:hover, ul.navbar-nav li.nav-item a:focus {
  text-decoration: none;
}

ul.navbar-nav li.nav-item a.disabled {
  color: #6c757d;
}

li.media img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

.font_size {
	font-size: 12px;
	color: #6C6C6C;
}